In [1]:
import pandas as pd # libreria para el manejo y an√°lisis de estructuras de datos
import os, re # libreria que permite acceder a las funcionalidades dependientes del SO , libreria para el manejo de languajes regulares

In [2]:
from os import walk # se utiliza para leer recursivamente los archivos y directorios del directorio indicado

f = []
for (dirpath, dirnames, filenames) in walk('data/raw/'):
    f.extend(filenames)
    break
f

['ca_USM_StationsReport_202231291350.xlsx',
 'ca_BOL_StationsReport_20223129119.xlsx',
 'ca_SUB_StationsReport_202231291211.xlsx',
 'ca_TUN_StationsReport_202231291241.xlsx',
 'ca_LFR_StationsReport_20223129750.xlsx',
 'ca_PTE_StationsReport_20223129110.xlsx',
 'ca_MAM_StationsReport_20223129831.xlsx',
 'ca_CBV_StationsReport_20223129333.xlsx',
 'ca_CDAR_StationsReport_20223129247.xlsx',
 'ca_SCR_StationsReport_202231291142.xlsx',
 'ca_FTB_StationsReport_20223129456.xlsx',
 'ca_JAZ_StationsReport_20223129614.xlsx',
 'ca_7MA_StationsReport_20223129920.xlsx',
 'ca_CSE_StationsReport_20223129152.xlsx',
 'ca_GYR_StationsReport_20223129531.xlsx',
 'ca_COL_StationsReport_20223129424.xlsx',
 'ca_MOV2_StationsReport_202231291026.xlsx',
 'ca_USQ_StationsReport_202231291319.xlsx',
 'ca_KEN_StationsReport_2022312979.xlsx']

In [3]:
# se lee cado uno de los archivos y se agregan al DataFrame
path = os.path.abspath('data/raw/') 
files = os.listdir(path)  

df = pd.DataFrame()
for file in files:
    if file.endswith('.xlsx'):
        dft = pd.read_excel('data/raw/'+file)
        dft['Station'] = re.search(r'_(.*?)_', str(file)).group(1)
        df = df.append(dft[1:], ignore_index=True) 
df.head()

/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)
/var/folders/m2/twttt3wj0q76lz83dgkcm32w0000gn/T/ipykernel_96378/3607398716.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dft[1:], ignore_index=True)

,DateTime,PM10,PM2.5,NO,NO2,NOX,SO2,CO,OZONO,Vel Viento,...,HR.1,Canal no activo,PM10 Flow,CO2,SO2 Envea,Vel Viento 10M,Dir Viento 10M,Temperatura 8M,Temperatura 20M,PM2.5 Flow
0,01-01-2021 01:00,56.6,32.7,7.504,15.962,23.493,7.24,0.44924,2.431,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-01-2021 02:00,59.3,39.3,16.56,17.866,34.426,5.405,0.69832,1.121,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2021 03:00,96.4,70.8,22.989,17.802,40.791,5.685,0.88243,1.172,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2021 04:00,108.3,81,3.704,9.886,13.591,2.436,0.29549,6.565,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2021 05:00,87.7,56.1,2.098,9.272,11.371,3.039,0.16621,9.513,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head() # mostras las 5 primeras filas, para comprobar los datos

,DateTime,PM10,PM2.5,NO,NO2,NOX,SO2,CO,OZONO,Vel Viento,...,HR.1,Canal no activo,PM10 Flow,CO2,SO2 Envea,Vel Viento 10M,Dir Viento 10M,Temperatura 8M,Temperatura 20M,PM2.5 Flow
0,01-01-2021 01:00,56.6,32.7,7.504,15.962,23.493,7.24,0.44924,2.431,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-01-2021 02:00,59.3,39.3,16.56,17.866,34.426,5.405,0.69832,1.121,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2021 03:00,96.4,70.8,22.989,17.802,40.791,5.685,0.88243,1.172,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2021 04:00,108.3,81,3.704,9.886,13.591,2.436,0.29549,6.565,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2021 05:00,87.7,56.1,2.098,9.272,11.371,3.039,0.16621,9.513,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum() # contamos los valores nulos

DateTime                0
PM10                    0
PM2.5                   0
NO                   8760
NO2                  8760
NOX                  8760
SO2                 43800
CO                      0
OZONO                8760
Vel Viento          26280
Dir Viento          26280
Temperatura         17520
HR                  52560
Presion Baro        70080
Rad Solar           61320
Station                 0
Precipitacion       61320
HR.1               157680
Canal no activo    157680
PM10 Flow          157680
CO2                148920
SO2 Envea          157680
Vel Viento 10M     157680
Dir Viento 10M     157680
Temperatura 8M     157680
Temperatura 20M    157680
PM2.5 Flow         157680
dtype: int64

In [6]:
df = df[['PM10','PM2.5','NO','NO2','NOX','CO','OZONO','Station', 'DateTime']] # se crea un nuevo DataFrame con las columnas especificadas

In [7]:
df.head() # mostras las 5 primeras filas, para comprobar los datos

,PM10,PM2.5,NO,NO2,NOX,CO,OZONO,Station,DateTime
0,56.6,32.7,7.504,15.962,23.493,0.44924,2.431,USM,01-01-2021 01:00
1,59.3,39.3,16.56,17.866,34.426,0.69832,1.121,USM,01-01-2021 02:00
2,96.4,70.8,22.989,17.802,40.791,0.88243,1.172,USM,01-01-2021 03:00
3,108.3,81,3.704,9.886,13.591,0.29549,6.565,USM,01-01-2021 04:00
4,87.7,56.1,2.098,9.272,11.371,0.16621,9.513,USM,01-01-2021 05:00

In [8]:
df.columns # se muestran las columnas del DataFrame

Index(['PM10', 'PM2.5', 'NO', 'NO2', 'NOX', 'CO', 'OZONO', 'Station',
       'DateTime'],
      dtype='object')

In [9]:
col = ['PM10', 'PM2.5', 'NO', 'NO2', 'NOX', 'CO', 'OZONO']
for i in col: # se recorre cada columna y se cambia su tipo de valor por uno numerico (float64) 
    df[i] = pd.to_numeric(df[i],errors='coerce')

In [10]:
# contamos la cantidad de nulos en cada columna
df.isnull().sum()

PM10        20014
PM2.5       15312
NO          27664
NO2         27662
NOX         27668
CO          31238
OZONO       32132
Station         0
DateTime        0
dtype: int64

In [11]:
# cantidad de filas y columnas
df.shape

(166440, 9)

In [12]:
# se reemplazan los valores nulos por la media
df['PM10'].fillna((df['PM10'].mean()), inplace=True)
#df['PM2.5'].fillna((df['PM2.5'].mean()), inplace=True)
df['CO'].fillna((df['CO'].mean()), inplace=True)
df['NO'].fillna((df['NO'].mean()), inplace=True)
df['NO2'].fillna((df['NO2'].mean()), inplace=True)
df['NOX'].fillna((df['NOX'].mean()), inplace=True)
df['OZONO'].fillna((df['OZONO'].mean()), inplace=True)

In [13]:
# se verifica si hay valores nulos
df.isnull().sum()

PM10            0
PM2.5       15312
NO              0
NO2             0
NOX             0
CO              0
OZONO           0
Station         0
DateTime        0
dtype: int64

In [14]:
# Verdadero es mayor que 12, malo (Puro, No Puro)
df['Status'] = df['PM2.5']>12
df.Status.value_counts()

False    91098
True     75342
Name: Status, dtype: int64

In [16]:
# se guardan los datos en un nuevo archivo
df.to_csv("data/clean_data_final.csv", index = False)